<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.jpeg">
    <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='styles/event.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
            
      <div class="top">
      <ul class="nav-menu">
      <li> <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('tasks') }}">Tasks</a>
      <a href="{{ url_for('events') }}">Events</a>
      <a href="{{ url_for('faq') }}">FAQ</a>
      <a href="{{ url_for('pyt') }}">Certificate</a>
  </li>
  </ul>
  </div>
    </header>
    <h1>CODE RUNNER</h1>
    <div class="row">
        <div class="column">
          <img src="/static/images/cr1.jpeg">
          <img src="/static/images/cr2.jpeg">
        </div>
        <div class="column">
          <img src="/static/images/cr3.jpeg">
          <img src="/static/images/cr4.jpeg">
        </div>
        <div class="column">
          <img src="/static/images/cr5.jpeg">
          <img src="/static/images/cr6.jpeg">
        </div>
      </div>
</body>
</html>