<html>
    <head>
        <title>Home-A.I/M.L Club CMRIT</title>
        <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='styles/card.css') }}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="./static/images/logo.jpeg">
    </head>
    <body>
        <header>
            <script src='main.js'></script>
            
            <div class="top">
                <ul class="nav-menu">
                <li> <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('tasks') }}">Tasks</a>
                <a href="{{ url_for('events') }}">Events</a>
                <a href="{{ url_for('faq') }}">FAQ</a>
                <a href="{{ url_for('pyt') }}">Certificate</a>
            </li>
            </ul>
            </div>
           <div class='heading'>
               <h>A.I/M.L CLUB CMRIT</h>    
           </div> 


           <h1 style="text-align: center; color: white;">Code Runner Winners are:</h1>
           <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/static/images/2m.png">
              </div>
              <div class="flip-card-back">
                <h1>19R01A05A4<br>N Sravan Kumar</h1>
                
              </div>
            </div>
          </div>

          <div class="flip-card2">
            <div class="flip-card-inner2">
              <div class="flip-card-front2">
                <img src="/static/images/1m.png">
              </div>
              <div class="flip-card-back">
                <h1>19R01A05F1 <br>Kaspa Manikanta Sai</h1>
                
              </div>
            </div>
          </div>



          <div class="flip-card3">
            <div class="flip-card-inner3">
              <div class="flip-card-front3">
                <img src="/static/images/3m.png">
              </div>
              <div class="flip-card-back">
                <h1>19R01A0545 <br>S Konika Reddy</h1>
                
              </div>
            </div>
          </div>
        </header>
        </body>
</html>
