<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.jpeg">
    <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
            
        <div class="top">
                <ul class="nav-menu">
                <li> <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('tasks') }}">Tasks</a>
                <a href="{{ url_for('events') }}">Events</a>
                <a href="{{ url_for('faq') }}">FAQ</a>
                <a href="{{ url_for('pyt') }}">Certificate</a>
            </li>
            </ul>
            </div>
       <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgQpNjRsv099-d0tzQ02TxSBE1WkxCpQNfb95giEXM7DoX5Q/viewform?embedded=true" width="840" height="905" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
       -->
       <h1> Registrations Closed</h1>
    </body>
</html>